html,
body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  background: black;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-image: url("https://www.reliancedigital.in/wp-content/uploads/2019/02/netflix_movies_cover.jpg");
  background-size: cover;
  padding-bottom: 70px;
  box-shadow: inset -20px -20px 0px 10px rgb(48, 45, 45);
  /* opacity: 0.7; */
}
.navbar img {
  width: 15%;
  margin-left: 20px;
  float: left;
}
.navbar button {
  /* display: block; */
  cursor: pointer;
  color: white;
  font-size: 10px;
  background: red;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  float: right;
  width: 100px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 25px;

  margin-top: 10px;
  /* margin-bottom: 200px; */
}
.container {
  padding-top: 20px;
}
.container h1 {
  padding-top: 80px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20px; */
}
.container p {
  font-size: 15px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.container button {
  justify-content: center;
  text-align: center;
  color: white;
  border: none;
  background: red;
  /* margin-left: 310px;
  margin-right: 200px; */
  /* border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* float: none; */
  position: relative;
  font-weight: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 50px;
  cursor: pointer;
}
